@import './shared.css';

.itemAction {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

button {
    font-family: "Righteous", sans-serif;
    background-color: #F8C537;
    width: 150px;
    height: 30px;
}

.botao a {
    color: #312F2F;
    text-decoration: underline;
    margin-bottom: 5px;
}