@import url(shared.css);

.history {
    display: flex;
    justify-content: space-around;
}

.logoHistory {
    margin-top: 40px;
    margin-left: 40px;
}

.logoHistory img {
    height: 500px;
}

.ourHistory {
    background-color: #FEF29A;
    height: 456px;
    border: 2px solid;
    border-radius: 10px;
    margin: 40px;
    padding: 20px;
}

.ourHistory h1 {
    font-size: 30px;
    margin-top: 20px;

}

.ourHistory h2 {
    font-size: 25px;
    margin-top: 20px;
}

.ourHistory p {
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
}