@import url(shared.css);

.tituloPrincipal {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tituloPrincipal h2 {
    text-align: start;
}

main section.sale .container {
    display: flex;
}

main section.sale article {
    width: 300px;
    height: 350px;
    background-color: #CEDADA;
    color: #312F2F;
    border: 2px solid #312F2F;
    border-radius: 6px;
    margin: 20px;
}

main section.sale article .card img {
    width: 96%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px 6px 10px 6px;
}

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao a {
    margin-top: 10px;
    margin-bottom: 20px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 6px;
    width: 70%;
    text-align: left;
}

#price {
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    margin-right: 6px;
    text-align: right;
}