@import './shared.css';

main section.banner .container .logoHome img {
    width: 100%;
    height: 500px;
}

main section.sale .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.sale .container article {
    width: 450px;
    background-color: #CEDADA;
    color: #312F2F;
    border-radius: 2px #312F2F;
}

main section.sale .container article .venda img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
