<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ropa+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bebidas.css">
    <title>Opa Dog e Burguer</title>
</head>

<body>
    <header>
        <%-include ('./partials/header')  %>
    </header>

    <main>
        <section >
            <div>
                <div class="fotoPrincipal">
                    <img src="/img/cardapioBebidaMenu 2.jpg" alt="">
                </div>
            </div>
        </section>

        <section>
            <div class="opcao">
                 <a class="opcao1" href="/cardapio/burguer"><p>Burguer</p></a>
                 <a class="opcap2" href="/cardapio/dog"><p>Dog</p></a>
                 <a class="opcao3" href="/cardapio/porcoes"><p>Porçoês</p></a>
                 <a class="opcao4" href="/cardapio/bebidas"><p>Bebidas</p></a>
            </div>
    </section>
    <section>
        <div>
            <article>
                     <div class="conteinerPai">
                         <section>
                           <div class="box filho1">
                             <div class="fotoIntens">
                             <img src="/img/cocaPet 1.jpg" alt="cocaPet">
                             </div><!--fotoIntens-->   
                             <div class="informacoes">
                                 <h3>Coca-cola pet 200ml</h3>
                                 <p>R$3,00</p>
                             </div><!--informacoes-->
                             <div class="botao">
                                 <a href="">Ver detalhes</a>
                                 <button type="submit">Adicionar</button>
                             </div>
                             </div><!--box filho-->
                            </section>
                            <section>
                                <div class="box filho1">
                                  <div class="fotoIntens">
                                  <img src="/img/fantaPet 1.jpg" alt="Fanta laranja">
                                  </div><!--fotoIntens-->   
                                  <div class="informacoes">
                                      <h4>Fanta laranja pet 200ml</h4>
                                      <p>R$3,00</p>
                                  </div><!--informacoes-->
                                  <div class="botao">
                                      <a href="">Ver detalhes</a>
                                      <button type="submit">Adicionar</button>
                                  </div>
                                  </div><!--box filho-->
                                 </section>
                                 <section>
                                    <div class="box filho1">
                                      <div class="fotoIntens">
                                      <img src="/img/guaranaPet 1.jpg" alt="guaranaLata">
                                      </div><!--fotoIntens-->   
                                      <div class="informacoes">
                                          <h4>Guaraná pet 200ml</h4>
                                          <p>R$3,00</p>
                                      </div><!--informacoes-->
                                      <div class="botao">
                                          <a href="">Ver detalhes</a>
                                          <button type="submit">Adicionar</button>
                                      </div>
                                      </div><!--box filho-->
                                     </section>
                                     <section>
                                        <div class="box filho1">
                                          <div class="fotoIntens">
                                          <img src="/img/sucoLaranja 1.jpg" alt="Suco laranja">
                                          </div><!--fotoIntens-->   
                                          <div class="informacoes">
                                              <h5>Suco natural one laranja 200ml</h5>
                                              <p>R$3,00</p>
                                          </div><!--informacoes-->
                                          <div class="botao">
                                              <a href="">Ver detalhes</a>
                                              <button type="submit">Adicionar</button>
                                          </div>
                                          </div><!--box filho-->
                                         </section>
                            </div ><!--conteinerPai-->

                        </article>
                    </div>
                </section>
                     <!-- segunda linha de produtos -->
                 <!-- partir 2 -->
        <section>
            <div>
                <article>
                         <div class="conteinerPai">
                            <section>   
                               <div class="box filho1">
                                 <div class="fotoIntens">
                                 <img src="/img/cocaLata 2.jpg" alt="Coca cola">
                                 </div><!--fotoIntens-->   
                                 <div class="informacoes">
                                     <h4>Coca-cola 350ml</h4>
                                     <p>R$5,00</p>
                                 </div><!--informacoes-->
                                 <div class="botao">
                                     <a href="">Ver detalhes</a>
                                     <button type="submit">Adicionar</button>
                                 </div>
                                 </div><!--box filho-->
                             
                            </section>
                            <section>   
                                <div class="box filho1">
                                  <div class="fotoIntens">
                                  <img src="/img/fantaLata 1.jpg" alt="Fanta lata">
                                  </div><!--fotoIntens-->   
                                  <div class="informacoes">
                                      <h4>Fanta laranja 350ml</h4>
                                      <p>R$5,00</p>
                                  </div><!--informacoes-->
                                  <div class="botao">
                                      <a href="">Ver detalhes</a>
                                      <button type="submit">Adicionar</button>
                                  </div>
                                  </div><!--box filho-->
                              
                             </section>
                             <section>   
                                <div class="box filho1">
                                  <div class="fotoIntens">
                                  <img src="/img/guaranaLata 1.jpg" alt="Guaraná lata">
                                  </div><!--fotoIntens-->   
                                  <div class="informacoes">
                                      <h4>Guaraná 350ml</h4>
                                      <p>R$5,00</p>
                                  </div><!--informacoes-->
                                  <div class="botao">
                                      <a href="">Ver detalhes</a>
                                      <button type="submit">Adicionar</button>
                                  </div>
                                  </div><!--box filho-->
                              
                             </section>
                             <section>   
                                <div class="box filho1">
                                  <div class="fotoIntens">
                                  <img src="/img/spriteLata 1.jpg" alt="guaranaLata">
                                  </div><!--fotoIntens-->   
                                  <div class="informacoes">
                                      <h4>sprite 350ml</h4>
                                      <p>R$5,00</p>
                                  </div><!--informacoes-->
                                  <div class="botao">
                                      <a href="">Ver detalhes</a>
                                      <button type="submit">Adicionar</button>
                                  </div>
                                  </div><!--box filho-->
                              
                             </section>
               </div ><!--conteinerPai-->

           </article>
       </div>
   </section>
    </main>

    <footer>

        <div class="container">
            <div class="row">
                <div class="logoOpa">
                    <img src="/img/logoOpa.png" alt="Logo Opa Dog e Burguer">
                </div>
                <div class="menu-mapa">
                    <div class="mapaSite">
                        <h3 class="no-bold">Mapa do site</h3>
                        <br>
                        <nav>
                            <ul class="list-menu-footer">
                                <li>
                                    <a href="/index">Home</a>
                                </li>
                                <li>
                                    <a href="/cardapio">Cardápio</a>
                                </li>
                                <li>
                                    <a href="/quemsomos">Quem somos</a>
                                </li>
                                <li>
                                    <a href="/contato">Contato</a>
                                </li>
                                <li>
                                    <a href="/entrar">Entrar</a>
                                </li>
                                <li>
                                    <a href="/carrinho">Meu carrinho</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="funcionamento">
                        <h3 class="no-bold">Horário de Funcionamento</h3>
                        <br>
                        <p>Segunda à Quinta <br> 18:00 às 00:00</p>
                        <br>
                        <p>Sexta à Domingo <br> 18:00 às 02:00</p>
                    </div>
                    <div class="redesSociais">
                        <h3 class="no-bold">Redes Sociais</h3>
                        <br>
                        <nav>
                            <ul class="list-menu-footer">
                                <li>
                                    <a href="https://www.facebook.com/opadogburguer" target="_blank"><img src="/img/logoFace.svg" alt="Logo Facebook"></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/opa_dogburguer/" target="_blank"><img src="/img/logoInsta.svg" alt="Logo Instagram"></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCN2ub6gO3V2c6D0H-CniqMg/featured" target="_blank"><img src="/img/logoYoutube.svg" alt="Logo Youtube"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>