<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ropa+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/burguer.css">
    <title>Opa Dog e Burguer</title>
</head>

<body>
    <header>
        <%-include ('./partials/header')  %>
    </header>

    <main>
        <section>
            <div class="burguer">
                <a href="###"><img class="fotoPrincipal" src="img/burguer.jpg" alt=""></a>
            </div>
        </section>
        <section>
            <div class="opcao">
                <a class="opcao1" href="##">
                    <p>Burguer</p>
                </a>
                <a class="opcap2" href="##">
                    <p>Dog</p>
                </a>
                <a class="opcao3" href="##">
                    <p>Porçoês</p>
                </a>
                <a class="opcao4" href="##">
                    <p>Bebidas</p>
                </a>
            </div>
        </section>
        <section>
            <div>
                <article>
                    <div class="caixaPrincipal">
                        <div class="caixa1">

                            <div class="caixaBurguer">
                                <img src="img/burguer01.jpg" alt="burguer01">
                                <div class="caixaDetalhes">
                                    <p class="nomeBurguer01">X-Opa Burguer &#160 &#160 &#160 R$ 10,00</p>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="caixa1">

                            <div class="caixaBurguer">
                                <img src="img/burguer02.jpg" alt="burguer02">
                                <div class="caixaDetalhes">
                                    <p class="nomeBurguer01">X-Opa Burguer II &#160 &#160 R$ 14,00</p>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="caixa1">

                            <div class="caixaBurguer">
                                <img src="img/burguer03.jpg" alt="burguer03">
                                <div class="caixaDetalhes">
                                    <p class="nomeBurguer01">X-Opa Salada &#160 &#160 &#160 &#160 R$ 12,00</p>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="caixa1">

                            <div class="caixaBurguer">
                                <img src="img/burguer04.jpg" alt="burguer04">
                                <div class="caixaDetalhes">
                                    <p class="nomeBurguer01">X-Opa Calabresa &#160 &#160 R$ 14,00</p>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </article>
            </div>
        </section>
        <section>
            <div>
                <article>
                    <div class="caixaPrincipal02">
                        <div class="caixa1">

                            <div class="caixaBurguer">
                                <img src="img/burguer05.jpg" alt="burguer05">
                                <div class="caixaDetalhes">
                                    <p class="nomeBurguer01">X-Opa Bacon &#160 &#160 &#160 &#160 R$ 14,00</p>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="caixa1">

                            <div class="caixaBurguer">
                                <img src="img/burguer06.jpg" alt="burguer06">
                                <div class="caixaDetalhes">
                                    <p class="nomeBurguer01">X-Opa Cheddar &#160 &#160 R$16,00</p>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="caixa1">

                            <div class="caixaBurguer">
                                <img src="img/burguer07.jpg" alt="burguer07">
                                <div class="caixaDetalhes">
                                    <p class="nomeBurguer01">X-Opa Bacon Milho R$ 16,00</p>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="caixa1">

                            <div class="caixaBurguer">
                                <img src="img/burguer08.jpg" alt="burguer08">
                                <div class="caixaDetalhes">
                                    <p class="nomeBurguer01">X-Opa Mega &#160 &#160 &#160 &#160 R$ 18,00</p>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>

        <%-include ('./partials/footer')  %>
    </footer>

</body>

</html>