<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ropa+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/burguer.css">
    <title>Opa Dog e Burguer</title>
</head>

<body>
    <header>
        <%-include ('./partials/header')  %>
    </header>

    <main>
        <section >
            <div>
                <div class="fotoPrincipal">
                    <img src="/img/cardapioMenu 1.jpg" alt="">
                </div>
            </div>
        </section>

        <section>
            <div class="opcao">
                 <a class="opcao1" href="/cardapio/burguer"><p>Burguer</p></a>
                 <a class="opcap2" href="/cardapio/dog"><p>Dog</p></a>
                 <a class="opcao3" href="/cardapio/porcoes"><p>Porçoês</p></a>
                 <a class="opcao4" href="/cardapio/bebidas"><p>Bebidas</p></a>
            </div>
    </section>
    <section>
        <div>
            <article>
                     <div class="conteinerPai">
                            <section>
                           <div class="box filho1">
                             <div class="fotoIntens">
                             <img src="/img/burguer01.jpg" alt="burguer01">
                             </div><!--fotoIntens-->   
                             <div class="informacoes">
                                 <h4>Dog Opa Burguer</h4>
                                 <p>R$10,00</p>
                             </div><!--informacoes-->
                             <div class="botao">
                                 <a href="">Ver detalhes</a>
                                 <button type="submit">Adicionar</button>
                             </div>
                             </div><!--box filho-->
                            </section>
                            <section>
                           <div class="box filho1">
                             <div class="fotoIntens">
                                 <img src="/img/burguer02.jpg" alt="burguer02">
                                 </div><!--fotoIntens-->   
                                 <div class="informacoes">
                                     <h4>Dog Opa Burguer II</h4>
                                     <p>R$14,00</p>
                                 </div><!--informacoes-->
                                 <div class="botao">
                                     <a href="">Ver detalhes</a>
                                     <button type="submit">Adicionar</button>
                                 </div>
                           </div>
                        </section>
                        <section>
                         <div class="box filho1">
                             <div class="fotoIntens">
                                 <img src="/img/burguer03.jpg" alt="burguer03">
                                   </div><!--fotoIntens-->   
                                 <div class="informacoes">
                                     <h4>Dog Opa Salada</h4>
                                     <p>R$ 12,00</p>
                                 </div><!--informacoes-->
                                 <div class="botao">
                                     <a href="">Ver detalhes</a>
                                     <button type="submit">Adicionar</button>
                                 </div>
                           </div>
                        </section>
                        <section>
                           <div class="box filho1">
                             <div class="fotoIntens">
                                 <img src="/img/burguer04.jpg" alt="burguer04">
                                 </div><!--fotoIntens-->   
                                 <div class="informacoes">
                                     <h4> X-Opa Calabresa</h4>
                                     <p>R$14,00</p>
     
                                 </div><!--informacoes-->
                                 
                                 <div class="botao">
                                     <a href="">Ver detalhes</a>
                                     <button type="submit">Adicionar</button>
                                 </div>
                           </div>
                        </section>
                        </div ><!--conteinerPai-->
            </article>
        </div>
    </section>
             <!-- segunda linha de produtos -->
                 <!-- partir 2 -->
        <section>
            <div>
                <article>
                         <div class="conteinerPai">
                               <section>
                               <div class="box filho1">
                                 <div class="fotoIntens">
                                 <img src="/img/burguer05.jpg" alt="burguer05">
                                 </div><!--fotoIntens-->   
                                 <div class="informacoes">
                                     <h4>Dog Opa Bacon</h4>
                                     <p>R$14,00</p>
                                 </div><!--informacoes-->
                                 <div class="botao">
                                     <a href="">Ver detalhes</a>
                                     <button type="submit">Adicionar</button>
                                 </div>
                                 </div><!--box filho-->
                                </section>
                               <section>
                               <div class="box filho1">
                                 <div class="fotoIntens">
                                     <img src="/img/burguer06.jpg" alt="burguer06">
                                     </div><!--fotoIntens-->   
                                     <div class="informacoes">
                                         <h4>Dog Opa Bacon Cheddar</h4>
                                         <p>R$16,00</p>
                                     </div><!--informacoes-->
                                     <div class="botao">
                                         <a href="">Ver detalhes</a>
                                         <button type="submit">Adicionar</button>
                                     </div>
                                    </div>
                                </section>
                                <section>    
                               <div class="box filho1">
                                 <div class="fotoIntens">
                                     <img src="/img/burguer07.jpg" alt="burguer07">
                                       </div><!--fotoIntens-->   
                                     <div class="informacoes">
                                         <h4>Dog Opa Milho</h4>
                                         <p>R$ 16,00</p>
                                     </div><!--informacoes-->
                                     <div class="botao">
                                         <a href="">Ver detalhes</a>
                                         <button type="submit">Adicionar</button>
                                     </div>
                               </div>
                            </section>
                                     <section>
                               <div class="box filho1">
                                 <div class="fotoIntens">
                                     <img src="/img/burguer08.jpg" alt="burguer08">
                                     </div><!--fotoIntens-->   
                                     <div class="informacoes">
                                         <h4> X-Opa Mega</h4>
                                         <p>R$18,00</p>
         
                                     </div><!--informacoes-->
                                     
                                     <div class="botao">
                                         <a href="">Ver detalhes</a>
                                         <button type="submit">Adicionar</button>
                                     </div>
                               </div>
                            </section>
                            </div ><!--conteinerPai-->
                </article>
            </div>
        </section>
        
    </main>

    <footer>

        <%-include ('./partials/footer')  %>
    </footer>

</body>

</html>