<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ropa+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/contato.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Opa Dog e Burguer</title>
</head>

<body>
    <header>
        <%-include ('./partials/header')  %>
    </header>

    <main>

        <section class="banner">
            <img class="style-image" src="img/contatoLogo.svg" alt="">
            <p class="style-title">Envie-nos uma mensagem</p>
        </section>

        <section>
            <div class="container">
                <form method="post">
                    <div class="form-section">

                        <label for="">Nome Completo</label>
                        <input type="text" name="" id="">

                        <label for="">E-mail</label>
                        <input type="email" name="" id="">

                        <div class="row-box">
                            <div class="column-box">
                                <label for="">Telefone</label>
                                <input type="tel" name="" id="">
                            </div>
                            <div class="column-box">
                                <label for="">Cidade</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="column-box">
                                <label for="">Estado</label>
                                <select name="estado" id="estado">
                                    <option disabled selected>Selecione seu estado</option>
                                    <option value="ac">Acre</option>
                                    <option value="al">Alagoas</option>
                                    <option value="ap">Amapá</option>
                                    <option value="am">Amazonas</option>
                                    <option value="ba">Bahia</option>
                                    <option value="ce">Ceará</option>
                                    <option value="df">Distrito Federal</option>
                                    <option value="es">Espírito Santo</option>
                                    <option value="go">Goiás</option>
                                    <option value="ma">Maranhão</option>
                                    <option value="mt">Mato Grosso</option>
                                    <option value="ms">Mato Grosso do Sul</option>
                                    <option value="mg">Minas Gerais</option>
                                    <option value="pa">Pará</option>
                                    <option value="pb">Paraíba</option>
                                    <option value="pr">Paraná</option>
                                    <option value="pe">Pernambuco</option>
                                    <option value="pi">Piauí</option>
                                    <option value="rj">Rio de Janeiro</option>
                                    <option value="rn">Rio Grande do Norte</option>
                                    <option value="rs">Rio Grande do Sul</option>
                                    <option value="ro">Rondônia</option>
                                    <option value="rr">Roraima</option>
                                    <option value="sc">Santa Catarina</option>
                                    <option value="sp">São Paulo</option>
                                    <option value="se">Sergipe</option>
                                    <option value="to">Tocantins</option>
                                </select>
                            </div>
                        </div>

                        <label for="">Mensagem</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>

                        <div class="form-section">
                            <button type="submit" style="margin: auto;">Enviar Mensagem</button>
                        </div>

                    </div>
                </form>
            </div>
        </section>

    </main>

    <footer>

        <%-include ('./partials/footer')  %>


    </footer>

</body>

</html>