<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ropa+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Opa Dog e Burguer</title>
</head>

<body>
    <header>
        <%-include ('./partials/header') %>
    </header>
    <main style="">
        <section class="banner">
            <img class="style-image" src="img/entreCadastrese.jpg" alt="">
            <p class="style-title">Entrar</p>
        </section>
        <section>
            <div class="container">
                <form method="post" action="/user/login">
                    <div class="form-section">
                        <div class="column-box">
                            <label for="email">Email</label>
                            <input type="email" name="email" />
                        </div>
                        <div class="column-box">
                            <label for="password">Senha</label>
                            <input type="password" name="password" />
                        </div>
                    </div>
                    <div class="row-box">
                        <button type="submit">Entrar</button>
                        <button type="button" class="button-inverse"
                            onclick="location.href='registrar'">Cadastre-se</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <%-include ('./partials/footer') %>

    </footer>
</body>

</html>