<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ropa+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/porcoes.css">
    <title>Opa Dog e Burguer</title>
</head>

<body>
    <header>
        <%-include ('./partials/header')  %>
    </header>

    <main>

        <section class="banner">
            <div class="container">
                <div class="logoHome">
                    <img src="img/imagemHome.svg" alt="">
                </div>
            </div>
        </section>

        <section>
            <div class="opcao">
                <a class="opcao1" href="##">
                    <p>Burguer</p>
                </a>
                <a class="opcap2" href="##">
                    <p>Dog</p>
                </a>
                <a class="opcao3" href="##">
                    <p>Porçoês</p>
                </a>
                <a class="opcao4" href="##">
                    <p>Bebidas</p>
                </a>
            </div>
        </section>
        <section>
            <div>
                <article>
                    <div class="caixaPrincipal">
                        <div class="caixa1">

                            <div class="caixaPorcoes">
                                <img src="img/pocao01.jpg" alt="porcao01">
                                <div class="caixaDetalhes">
                                    <p class="nomePorcoes01">Batata Tradicional P R$5,00</p>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p><br>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="caixa1">

                            <div class="caixaPorcoes">
                                <img src="img/pocao02.jpg" alt="pocao02">
                                <div class="caixaDetalhes">
                                    <p class="nomePorcoes01">Batata &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 R$ 10,00</p>
                                    <P>Tradicional G</P>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="caixa1">

                            <div class="caixaPorcoes">
                                <img src="img/pocao03.jpg" alt="pocao03">
                                <div class="caixaDetalhes">
                                    <p class="nomePorcoes01">Batata cheddar &#160 &#160 &#160 &#160 R$ 8,00</p>
                                    <p>e Bacon P</p>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="caixa1">

                            <div class="caixaPorcoes">
                                <img src="img/pocao04.jpg" alt="pocao04">
                                <div class="caixaDetalhes">
                                    <p class="nomePorcoes01">Batata Cheddar R$ 14,00</p>
                                    <P>e Bacon G</P>
                                    <div class="verDetalhes">

                                        <p class="alinha01">Ver Detalhes...</p>

                                        <div>
                                            <button class="adicionarComprar">Adicionar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </article>
            </div>
        </section>
    </main>-->

    <footer>

        <%-include ('./partials/footer')  %>

    </footer>

</body>

</html>