<link rel="stylesheet" href="/css/partials/menuSelectionBar.css">

<div class="menu-selection-bar-container">
    <a class="option" href="/menu/burguers">
        <p>Burguer</p>
    </a>
    <a class="option" href="/menu/dogs">
        <p>HotDog</p>
    </a>
    <a class="option" href="/menu/combos">
        <p>Porções</p>
    </a>
    <a class="option" href="/menu/drinks">
        <p>Bebidas</p>
    </a>
</div>