<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ropa+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pedido.css">
    <title>Opa Dog e Burguer</title>
</head>

<body>
    <header>
        <%-include ('./partials/header') %>
    </header>

    <main>

        <section class="banner">
            <div class="container">
                <div class="logoHome">
                    <img src="/img/imagemHome.svg" alt="">
                </div>
            </div>
        </section>

    </main>

    <footer>

        <%-include ('./partials/footer') %>

    </footer>

</body>

</html>