<div class="container">
    <div class="row">
        <div class="logo">
            <img src="img/logo+fundo_branco.svg" alt="Logo Opa com fundo branco">
        </div>
        <div class="menuCabecalho">
            <div class="itemsMenu">
                <div class="itemMenu">
                    <a href="./">Home</a>
                </div>
                <div class="itemMenu">
                    <a href="cardapio">Cardápio</a>
                </div>
                <div class="itemMenu">
                    <a href="contato">Contato</a>
                </div>
                <div class="itemMenu">
                    <a href="quemsomos">Quem somos</a>
                </div>
                <div class="itemMenu">
                    <a href="entrar">Entrar</a>
                </div>
                <div class="itemMenu">
                    <a href="carrinho">Meu carrinho</a>
                </div>
            </div>
        </div>
    </div>
</div>