<!-- Anderson 30/08 -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ropa+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/shared.css">
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="/css/partials/modal.css">
    <title>Opa Dog e Burguer</title>
</head>

<body>
    <header>
        <%-include ('../partials/header') %>
    </header>

    <main>

        <section class="banner">
            <img class="style-image" src="/img/admin.jpg" alt="">
            <p class="style-title">Administrador</p>
        </section>

        <section>
            <div class="container">
                <div class="categoriesAdm">
                    <ul>
                        <div class="categoriesItem">
                            <li><a href="addProduct.ejs">Cadastrar Produto</a></li>
                        </div>
                        <div class="categoriesItem">
                            <li><a href=".ejs">Produtos Cadastrados</a></li>
                        </div>
                        <div class="categoriesItem">
                            <li><a href=".ejs">Editar Categoria</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <h5>Cadastrar Produto</h5>
                <form id="addProductForm" method="post">
                    <div class="form-section">
                        <span>Dados do Produto</span>
                        <div class="column-box">
                            <label for="name">Nome</label>
                            <input type="text" name="name" />
                        </div>
                        <div class="column-box">
                            <label for="category">Categoria</label>


                            <select name="category">
                                <option disabled selected>Selecione a categoria</option>
                                <option value="1"> hamburguer</option>
                                <option value="2">dog</option>
                                <option value="3">Bebida</option>
                                <option value="4">Combo</option>
                            </select>

                        </div>
                        <div class="column-box">
                            <label for="price">Preço</label>
                            <input type="text" name="price" />
                        </div>
                        <div class="form-section">
                            <button type="button" id="addProductButton" style="margin: auto;">Adicionar</button>
                        </div>
                </form>
            </div>
        </section>
        <div id="successModal" class="modal">
            <div class="modal-content">
                <img class="modal-icon" src="/img/success-icon.svg" />
                <div class="modal-text">O produto foi adicionado com sucesso!</div>
                <button class="buttonBack" >Volta</button>
            </div>
        </div>
        <div id="failModal" class="modal">
            <div class="modal-content">
                <img class="modal-icon" src="img/error-icon.svg" />
                <div class="modal-text">Houve um erro ao cadastrar produto.</div>
            </div>
        </div>

        <section>
            <div class="container">
                <h5>Editar produtos</h5>
                <div class="row-box">
                    <div class="listProducts">
                        <select class="categoryProduct" name="category">
                            <option disabled selected>Selecione a categoria</option>
                            <option value="1"> hamburguer</option>
                            <option value="2">dog</option>
                            <option value="3">Bebida</option>
                            <option value="4">Combo</option>
                        </select>
                        <div class="editProduct">
                            <!-- Adicionar Categoria Aqui -->
                            <div class="insertProductList">
                                <p>Dogão Opa</p>
                                <p>Dogs</p>
                                <p>R$30,00</p>
                                <input type="file" name="" id="">
                            </div>
                            <div class="buttonProduct">
                                <button type="submit" class="buttonAdd">Adicionar</button>
                                <button type="submit" class="buttonEdit">Editar</button>
                                <button type="button" class="buttonDelete"
                                    onclick="location.href='registrar'">Excluir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <h5>Editar categorias</h5>
                <div class="row-box">
                    <div class="editCategorie">
                        <div class="categorie">
                            <!-- Adicionar Categoria Aqui -->
                            <div class="insertCategories">
                                <h4>Bebidas</h4>
                            </div>
                            <div class="buttonProduct">
                                <button type="submit" class="buttonAdd">Adicionar</button>
                                <button type="submit" class="buttonEdit">Editar</button>
                                <button type="button" class="buttonDelete"
                                    onclick="location.href='registrar'">Excluir</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer>

        <%-include ('../partials/footer') %>
    </footer>


</body>

<script>
    var successModal = document.getElementById("successModal");
    var failModal = document.getElementById("failModal");
    var addProductButton = document.getElementById("addProductButton");

    addProductButton.onclick = function () {
        var formData = new FormData(document.getElementById("addProductForm"));
        fetch("/admin/products/addProduct/add", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(formData))
        }).then(response => {
            if (response.ok) {
                successModal.style.display = "block";
            } else {
                failModal.style.display = "block";
            }
        }).catch(error => {
            failModal.style.display = "block";
        });

        document.querySelector('.buttonBack').addEventListener('click', () => {
            document.querySelector('.modal').style.display = "none"
        });
    }
</script>

</html>