<section>
    <div class="container">
        <h5>Editar categorias</h5>
        <div class="row-box">
            <div class="editCategorie">
                <div class="categorie">
                    <!-- Adicionar Categoria Aqui -->
                    <div class="insertCategories">
                        <h4>Bebidas</h4>
                    </div>
                    <div class="buttonProduct">
                        <button type="submit" class="buttonAdd">Adicionar</button>
                        <button type="submit" class="buttonEdit">Editar</button>
                        <button type="button" class="buttonDelete" onclick="location.href='registrar'">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>